.wrapper {
  height: 100%;
  overflow: auto;
  padding: 0 var(--space-xxsmall);
}

.container {
  height: 100vh;
  grid-template-rows: min-content auto min-content;
}

.footer {
  padding: 0 0 var(--space-medium) 0;
}

.refresh {
  align-self: flex-end;
}
