.wrapper {
    /* The only way to override the height for react-virtualized-auto-sizer container and fit the content */
    height: 100% !important;
    overflow-y: auto;
}

.container {
    height: 100vh;
    grid-template-rows: min-content auto min-content;
}

.footer {
    padding: 0 0 var(--space-medium) 0;
}